<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="">Home</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/fundamentals">Fundamentals</a>
  <a routerLink="/customers">Customers</a>
  <a routerLink="/survey">Survey</a>
</nav>
<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<app-messages></app-messages>
<!-- add the selector from the CustomerDashboardComponent -->
<!-- <app-customer-dashboard></app-customer-dashboard> -->
